# Level 3 task

In [85]:
import json

with open("input1.json") as f1:
    students=json.load(f1)
    
with open("input2.json") as f2:
    group=json.load(f2)
    
with open("input3.json") as f3:
    colleges=json.load(f3)

In [86]:
##number of records of students =400
##number of records of group=50
##number of records of colleges=10

In [87]:
# print(len(students))
# print(len(group))
# print(len(colleges))

In [88]:
active_clgs=[]
inactive_clgs=[]

for c in colleges:
    if c['status']==True:
        active_clgs.append(c)
    else:
        inactive_clgs.append(c)
        
print("Number of active colleges")
print(len(active_clgs))

print("Number of inactive colleges")
print(len(inactive_clgs))

Number of active colleges
5
Number of inactive colleges
5

In [89]:
total_active_clgs=len(active_clgs)
total_inactive_clgs=len(inactive_clgs)

In [90]:
active_groups=[]
inactive_groups=[]

for g in group:
    if g['status']==True:
        active_groups.append(g)
    else:
        inactive_groups.append(g)

print("Number of active groups")
print(len(active_groups))

print("Number of inactive groups")
print(len(inactive_groups))

Number of active groups
30
Number of inactive groups
20

In [91]:
total_active_grps=len(active_groups)
total_inactive_grps=len(inactive_groups)

In [92]:
active_stds=[]
inactive_stds=[]

for s in students:
    if s['status']==True:
        active_stds.append(s)
    else:
        inactive_stds.append(s)

print("Number of active students")
print(len(active_stds))

print("Number of inactive students")
print(len(inactive_stds))

Number of active students
200
Number of inactive students
200

In [93]:
total_active_stds=len(active_stds)
total_inactive_stds=len(inactive_stds)

In [70]:
output1={
   "total_active_clgs":total_active_clgs ,
   "total_inactive_clgs":total_inactive_clgs ,
   "total_active_grps": total_active_grps,
   "total_inactive_grps":total_inactive_grps,
   "total_active_stds":total_active_stds ,
   "total_inactive_stds":total_inactive_stds
}

json_obj=json.dumps(output1,indent=6)

with open ("output1.json","w") as o1:
    o1.write(json_obj)

In [94]:
student_group=[]
for i in students:
    for j in group:
        if i['grp_id']== j['grp_id']:
            i['grp_name']=j['grp_name']
            i['clg_id']=j['clg_id']
            student_group.append(i)
#print(student_group)

In [78]:
student_group_clgname=[]
for i in student_group:
    for j in colleges:
        if i['clg_id']==j['clg_id']:
            i['clg_name']=j['clg_name']
            student_group_clgname.append(i)
# print(student_group_clgname)          
for i in student_group_clgname:
    del i['grp_id']
    del i['clg_id']
    #output2.append(json.dumps(i))
#print(output2)

In [80]:
with open("output.json","w") as o2:
    json.dump(student_group_clgname,o2)

In [81]:
clg_id_to_be_updated=[
     {
    "clg_name": "Indian Institute of Science (IISC) Bangalore College",
    "clg_id": "53158c90-ae0a-4b47-bc02-b92a9980e88d"
     },
    {
    "clg_name": "Indian Institute of Technology Delhi (IITD) College",
    "clg_id": "6358ccfd-636c-4541-b8fb-e62922fe97d2",
  },
  {
    "clg_name": "Indian Institute of Technology Madras (IITM) College",
    "clg_id": "8e34fafd-dec9-406b-b913-869262ebbbed",
  },
  {
    "clg_name": "Indian Institute of Technology Kharagpur (IITKGP) College",
    "clg_id": "1317ac04-47f3-4fb4-9580-d8f8dc00771f",
  },
  {
    "clg_name": "Indian Institute of Technology Kanpur (IITK) College",
    "clg_id": "a9b2ad65-f8b7-4091-b07c-29f3babcfdb1",
  },
  {
    "clg_name": "University of Delhi College",
    "clg_id": "c36cbe5a-8c18-49e9-bd4c-51a37a3ca5b0",
  },
  {
    "clg_name": "University of Hyderabad College",
    "clg_id": "62b8b3df-efde-47f6-a512-e478db7327bd",
  },
  {
    "clg_name": "Indian Institute of Technology Roorkee (IITR) College",
    "clg_id": "57422d07-fe77-4cd1-b98a-143f0b1f927d",
  },
  {
    "clg_name": "Indian Institute of Technology Guwahati (IITG) College",
    "clg_id": "41dd9823-748d-47a9-9b8d-7a99b8ad0331",
  },
  {
    "clg_name": "undefined College",
    "clg_id": "5b68c95e-91a8-4cc0-a6ba-dcbc6870fd6a",
  
]

In [82]:
updated_clg_id=[]

for i in colleges:
    for j in clg_id_to_be_updated:
        if i['clg_name']==j['clg_name']:
            i['clg_id']=j['clg_id'] 
            updated_clg_id.append(i)

In [83]:
with open("output.json","w") as o3:
    json.dump(updated_clg_id,o3)

In [ ]:
# to prettyfy the json format
#python -m json.tool output.json output2.json